import riot from 'riot'

<entity-cube>
  <a-entity ref="main" position="{opts.dataX} {opts.dataY} -2" scale="1 1 0.1">
    <a-entity>
      <a-box
      material="opacity: {opacity}; transparent: true"
      ref="cube"
      height="0.85"
      width="0.85"
      position="0 0 0" rotation="0 0 0" color={boxColor}></a-box>
    </a-entity>
  </a-entity>
  <script>
    import { observe } from 'dob'
    import * as actions from '../../actions'
    import state from '../../state'

    Object.assign(this, {
      opacity: 1,
      boxColor: opts.cubeItem.color
    })

    observe(() => {
      void (
        state.mouseCoords.y,
        state.mouseCoords.x
      )
      this.update({
        opacity: 1,
        boxColor: opts.cubeItem.color
      })
    })

    this.on('mount', () => {
      this.refs.cube.addEventListener('mouseenter', () => {
        actions.setMouseCoords(opts.dataX, opts.dataY)
        this.opacity = 0.6
        this.update()
      })
      this.refs.cube.addEventListener('mouseleave', () => {
        actions.setMouseCoords(0, 0)
      })
      this.refs.cube.addEventListener('click', () => {
        actions.advanceColorValuesAround(opts.dataX, opts.dataY)
        if (actions.checkClear()) {
          // TODO: twitter連携
        }
      })
    })
  </script>
</entity-cube>
