import riot from 'riot'
import './entity/cube'

<app-root>
  <a-scene vr-mode-ui="enabled: false" cursor="rayOrigin: mouse">
    <a-camera
      look-controls-enabled="false"
      wasd-controls-enabled="false"></a-camera>
    <a-entity scale="{scaleSize} {scaleSize} 1"
    position="-{position} -{position}">
      <virtual each={cubeX, x in cube}>
        <a-entity
          each={cubeItem, y in cubeX}
          data-x={x}
          data-y={y}
          data-is="entity-cube"
          cube-item={cubeItem}
          >
      </a-entity>
      </virtual>
    </a-entity>
    <a-sky color="#555"></a-sky>
  </a-scene>
  <script>
    import 'aframe'
    import state from '../state'
    import * as actions from '../actions'

    const scaleSize = 0.25

    if (!state.sideNum) actions.setSideNum(5)
    if (!state.colors.length) actions.setInitialColors()
    actions.setInitialData()

    Object.assign(this, {
      scaleSize,
      position: state.sideNum * scaleSize / 2,
      cube: state.cube,
      sideNum: state.sideNum
    })
  </script>
</app-root>
